<main  class="container-fluid ">
    <div class="col-12 pb-5 " >
    <div  class="carousel slide " data-bs-ride="carousel"  id="myCarousel"  >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" style="height: 350px;"  src="../../../assets/img/slide2.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" style="height: 350px;" src="../../../assets/img/slide3.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" style="height: 350px;"  src="../../../assets/img/slide4.jpg" alt="Third slide">
          </div>
        </div>
        <button type="button"   class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#myCarousel" >
             <span class="carousel-control-prev-icon"  ></span></button>
             <button type="button"   class="carousel-control-next" data-bs-slide="next" data-bs-target="#myCarousel"  >
                <span  class="carousel-control-next-icon"  ></span></button>
      </div> </div>

      <div   class="row offset-2"  style="margin-top: 40px;" >
        <div id="slid"  class="col-md-3  ">
                      <a style="text-decoration: none;" class="link-secondary"   routerLink="/home1">
 <h2 style="margin-left: 30px;" > 
              Physical Event </h2>            
                <hr class="link-danger" >

            
              <img  class="rounded-circle"  src="../../../assets/img/physical.jpg" alt="Lights" style="border: 5px solid rgb(218, 6, 6);width:200px; height: 180px;">
           </a> 
          </div>

          <div id="slid1" class="col-md-3 ">
              <a style="text-decoration: none; "  class="link-secondary" routerLink="/home1">
            <h2 style="margin-left: 30px;">Virtual Event              
            </h2>                
            <hr  class="link-danger" >


           <img   
           class="rounded-circle" src="../../../assets/img/virtual1.jpg" alt="Lights" style="border: 5px solid rgb(218, 6, 6); width:200px; height: 180px;">
         </a>
        </div>
        <div  id="slid2" class="col-md-3">
            <a style="text-decoration: none;" class="link-secondary" routerLink="/home1">
            <h2 style="margin-left: 30px;"> Hybrid Event             
                 <hr class="link-danger" >
            </h2>
            <img class="rounded-circle" src="../../../assets/img/The-hybrid.jpg" alt="Lights" style="border: 5px solid rgb(218, 6, 6);width:200px; height: 180px;">
        </a></div>
     
      </div>
      <div class="pt-5 pb-5"></div>
      <div  class="row pt-5 pb-5">
        <div class="col-6 offset-2">
          <div class="shadow-lg p-3 mb-5 bg-body rounded">


           <h3 style="color: #dc3545">THE BEVENTFUL EVENTS PLATFORM</h3>
             <p class="lead">
                <b>
            Run highly engaging in‑person, virtual and hybrid events
            Eventtia’s all-in-one event planning platform makes planning,
             managing, and memorable event experiences easier than ever.</b> </p></div></div>

      </div>

        
</main>