
  <header class="page-header-ui page-header-ui-dark bg-img-cover overlay overlay-60" 
  style="background-image: url('../../../assets/img/123.jpg')">
    <div class="page-header-ui-content pt-5 py-15 position-relative">
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-xl-6 col-lg-8">
                    <div class="shadow-lg p-3 mb-5 bg-body rounded">
                    <h1 class="page-header-ui-title"> why Beventful ???</h1>
                    <p class="page-header-ui-text mb-5">The all-in-one event management platform that makes your in-person or virtual B2B events & conferences more successful than ever before. 
                         Registration & ticketing, event networking, attendee check-in and many more.</p>
                    </div>
                </div> 
                <div  class="col-xl-4 ms-5">
                    <div class="shadow-lg p-3 mb-5  bg-body rounded">
                    <h1 class="page-header-ui-title"> <img src="../../../assets/img/hour.png" alt=""> Working Hours:</h1>
                    <p class="page-header-ui-text mb-5">
                        Our services are available 24x7.
                        Contact us anytime   </p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-xl-6 col-lg-8">
                    <div class="shadow-lg p-3 mb-5 bg-body rounded">
                    <h1 class="page-header-ui-title">Our objects</h1>
                    <p class="page-header-ui-text mb-5">
                        Don't take our word for it
                        Beventful doesn't just help you hosting a successful event,
                         we ensure you drive audience engagement and event excellence. 
                         Our event management software is designed to offer you increased benefit 
                        and control over all aspects of your event.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8">
                    <div class="shadow-lg p-3 mb-5 bg-body rounded">

                    <h1 class="page-header-ui-title"> <img src="../../../assets/img/add.png" alt=""> Address:</h1>
                    <p class="page-header-ui-text mb-5">
                        1/10-14 Boyle St, Sutherland NSW 2232,
                        Australia   </p>
                    </div>
                </div>

            </div>
            <div class="row md-3">
                <div class="col-md-3 offset-2 ms-5" >
                    <div class="shadow-lg p-3 mb-5 bg-body rounded">
<img src="../../../assets/img/email.png" alt="">
                    <h1 class="page-header-ui-title">Email:</h1>
                    <p class="page-header-ui-text mb-5"> 
                        hello@Beventify.io</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</header>